name: Run tests

on:
  push:
    branches:
      - main
      - task-1
      - task-2
      - task-3
      - task-4
      - task-5
      - task-6
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt

      # - name: Lint with flake8
      #   run: |
      #     pip install flake8
      #     flake8 src tests

      # - name: Run unit tests
      #   run: |
      #     pip install pytest
      #     pytest tests
